* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.App {
  text-align: center;
}

.ui.main.container {
  margin-top: 4em;
  width: 960px;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  display: flex;
  justify-content: center;
  color: white !important;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4c0d25, #270f3e)!important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.segment.ui.inverted.segment, .segment.ui.primary.inverted.segment {
  background: linear-gradient(to left, #a7164e, #491b75);
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: rgba(220, 181, 56, 0.9);
}

.table.ui.inverted.table, .table.ui.primary.inverted.table {
  background: linear-gradient(to left, #a7164e, #491b75);
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: rgba(220, 181, 56, 0.9);
}

.card.ui.card>.content.content {
  background: linear-gradient(to left, #a7164e, #491b75);
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: white;
}

.card.ui.card>.content.content>.header.header {
  color: white;
}

.card.ui.card>.content.content>.description.description {
  color: white;
}

.card.ui.card>.content.content>.meta.meta {
  color: white;
}

.card.ui.card>.extra.content.extra {
  background: linear-gradient(to right, #ff0000, #00ff15);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.fullRow {
  width: 100% !important;
}

h1 {
  justify-content: center;
  display: flex;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: 'Cabin', sans-serif;
  padding-top: 300px;
}

.app h3 {
  text-shadow: 1px 1px 4px black;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.app h3 b {
  color: rgb(252, 212, 33);
}

input {
  width: 400px;
  align-self: center;
  height: 30px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 0.8px #0c1d2e;
  margin-top: 10px;
  margin-bottom: 14px;
}

.formDropdown {
  width: 400px !important;
  align-self: center !important;
  height: 30px !important;
  padding: 10px !important;
  border-radius: 8px !important;
  border: none !important;
  box-shadow: 1px 1px 0.8px #0c1d2e !important;
  margin-top: 10px !important;
  margin-bottom: 14px !important;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

button.ui.button {
  height: 46px;
  background: linear-gradient(to right, #d55151, #11075a);
  width: 200px;
  margin: auto;
  margin-top: 14px;
  border-radius: 8px;
  border: 1px solid rgb(8, 68, 6);
  box-shadow: 1px 2px 3px #ca6d6daa;
  font-size: 15px;
  text-decoration-color: rgb(255, 255, 255);
  color: white;
}

.error {
  font-size: 12px;
  color: rgb(122, 12, 22);
  margin-top: 5px;
  margin-bottom: 15px;
}

label {
  margin-top: 10px;
}

.dropdown {
  align-self: left;
}

.dropdownmenu {
  align-self: left;
  align-content: left;
}

.center {
  align-self: center;
  margin-bottom: 10px;
}

.searchInputs {
  display: inline-flex;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
  color: rgb(18, 41, 95);
}

.search {
  width: 900px;
  margin: auto;
}

.search input {
  background: linear-gradient(to right, #ab4a4a, #3b2bba);
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 30px;
  width: 50px;
  background: linear-gradient(to left, #ba6b6b, #3b2bba);
  display: grid;
  place-items: center;
}

.dataResult {
  margin: 0 auto;
  margin-top: 5px;
  width: 300px;
  height: 100px;
  background: linear-gradient(to left, #ba6b6b, #3b2bba);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

a {
  color: white !important;
}

a:hover {
  background-color: rgb(157, 39, 92);
}

#clearBtn {
  cursor: pointer;
}